.controls {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls .controls__colors {
  display: flex;
}

.controls .controls__btns {
  margin-bottom: 30px;
}

.controls .controls__range {
  margin-bottom: 20px;
}
